<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liveklass.assignment.sale.mapper.SaleMapper">

    <select id="existsPaidSaleBySaleNum" resultType="int">
        SELECT COUNT(*)
          FROM sale_record
         WHERE sale_num = #{saleNum}
           AND sale_status = 'PAID'
    </select>

    <select id="existsCourseByCourseId" resultType="int">
        SELECT COUNT(*)
          FROM course
         WHERE course_id = #{courseId}
    </select>

    <insert id="insertSaleRecord" parameterType="com.liveklass.assignment.sale.entity.SaleRecord">
        INSERT INTO sale_record (
        sale_num,
        student_id,
        amount,
        sale_status,
        occurred_at,
        course_id
        )
        VALUES (
        #{saleNum},
        #{studentId},
        #{amount},
        #{saleStatus},
        #{occurredAt},
        #{courseId}
        )
    </insert>

</mapper>