<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liveklass.assignment.sale.mapper.SaleMapper">

    <select id="existsPaidSaleBySaleNum" resultType="int">
        SELECT COUNT(*)
          FROM sale_record
         WHERE sale_num = #{saleNum}
           AND sale_status = 'PAID'
    </select>

    <select id="existsCourseByCourseId" resultType="int">
        SELECT COUNT(*)
          FROM course
         WHERE course_id = #{courseId}
    </select>

    <select id="existsCanceledSaleBySaleNum" resultType="int">
        SELECT COUNT(*)
          FROM sale_record
         WHERE sale_num = #{saleNum}
           AND sale_status = 'CANCELED'
    </select>

    <select id="findPaidSaleBySaleNum" resultType="com.liveklass.assignment.sale.entity.SaleRecord">
        SELECT sale_serl_num
             , sale_num
             , course_id
             , student_id
             , amount
             , sale_status
             , occurred_at
             , created_at
          FROM sale_record
         WHERE sale_num = #{saleNum}
           AND sale_status = 'PAID'
    </select>

    <select id="findCanceledSaleBySaleNum" resultType="com.liveklass.assignment.sale.entity.SaleRecord">
        SELECT sale_serl_num
             , sale_num
             , course_id
             , student_id
             , amount
             , sale_status
             , occurred_at
             , created_at
          FROM sale_record
         WHERE sale_num = #{saleNum}
           AND sale_status = 'CANCELED'
    </select>

    <insert id="insertSaleRecord" parameterType="com.liveklass.assignment.sale.entity.SaleRecord">
        INSERT INTO sale_record (
        sale_num,
        student_id,
        amount,
        sale_status,
        occurred_at,
        course_id
        )
        VALUES (
        #{saleNum},
        #{studentId},
        #{amount},
        #{saleStatus},
        #{occurredAt},
        #{courseId}
        )
    </insert>

    <select id="findSaleRecords" resultType="com.liveklass.assignment.sale.dto.SaleRecordResponse">
        SELECT sr.sale_num
             , c.creator_id
             , cr.creator_nm
             , sr.course_id
             , c.course_title
             , sr.student_id
             , sr.amount
             , sr.sale_status
             , sr.occurred_at
          FROM sale_record sr
         INNER JOIN course c ON sr.course_id = c.course_id
         INNER JOIN creator cr ON c.creator_id = cr.creator_id
         WHERE 1=1
        <if test="creatorId != null and creatorId != ''">
           AND c.creator_id = #{creatorId}
        </if>

        <if test="fromDate != null">
           AND sr.occurred_at &gt;= #{fromDate}
        </if>

        <if test="toDate != null">
           AND sr.occurred_at &lt; #{toDate}
        </if>
         ORDER BY sr.occurred_at DESC, sr.sale_serl_num DESC
    </select>

</mapper>